@{
    ViewData["Title"] = "Eyüp Furkan Tüylü - Test Case";
    ViewData["Page"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz!</h1>
    <p>
        Bu site Eyüp Furkan Tüylü tarafından Amonsis Test Case projesi için üretilmiştir. <br />
        <b>Yukarıdaki menü yardımı ile istenilen özelliklere ulaşabilirsiniz.</b>
    </p>
</div>
